@import "../../abstracts/variable";
@import "../../abstracts/mixin";

.cost {
  margin-top: 120px;
  margin-bottom: 120px;
  color: $tx-color;
  h2 {
    font-size: $font-size-h1;
    font-weight: 400;
    width: 80%;
  }
  p {
    font-size: $font-size-p;
  }
}
.costQuoteBtn {
  background-color: $primary;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  margin-top: 24px;

  &:hover {
    background-color: $secondary-color;
    transition: all 0.3s ease;
  }
}
