@import "../abstracts/_variable.scss";
@import "../abstracts/_mixin.scss";

.about {
  margin-top: 80px;
  margin-bottom: 80px;
  @include size("md") {
    margin-top: 0;
  }
}
.aboutTop {
  position: relative;
  h5 {
    font-size: $font-size-h4;
    font-weight: 400;
    margin-top: 24px;
  }
  h2 {
    font-size: $font-size-h1;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 16px;
  }
  p {
    font-size: $font-size-h5;
    font-weight: 300;
    margin-top: 16px;
  }
}
.team {
  margin-top: 80px;

  @include size("md") {
    margin-top: 24px;
  }

  .teamImg {
    height: 260px;
    width: 260px;
  }

  .teamItem {
    color: $tx-color;
    color: #333c44;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: $font-size-h1;
    }
    h3 {
      font-size: $font-size-h4;
    }
    p {
      font-size: $font-size-p;
      line-height: 1.5;
      margin-top: 24px;
    }
  }
}
