@import "../abstracts/variable";
@import "../abstracts/mixin";
.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #222222;
}
.footerAbout {
  p {
    margin-top: 16px;
    color: white;
    font-size: $font-size-p;
  }
}
.footerMenu {
  color: white;
  h3 {
    font-size: $font-size-h3;
    font-weight: 400;
  }
  ul {
    margin-top: 20px;
    li {
      list-style: none;
      font-weight: 300;
      line-height: 2;
      font-weight: 300;
      font-size: $font-size-p;

      a {
        font-size: $font-size-p;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
.footerListMenu {
  margin-top: 24px;
  ul {
    display: flex;
    align-items: center;
    li {
      margin-left: 16px;
      list-style: none;

      &:first-child {
        margin-left: 0;
      }
      a {
        font-size: 14px;
        color: white;
        font-weight: 300;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
