@import "../abstracts/variable";
@import "../abstracts/mixin";
.homeService {
  .serviceItem {
    transition: all 0.4s ease;
    position: relative;
    height: 326px;
    overflow: hidden;
    border: 1px solid #e4e4e4;
    padding: 30px;
    border-radius: 4px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include size("md") {
      padding: 16px;
      height: 300px;
    }

    i {
      width: 44px;
      height: 44px;
      svg {
        width: 44px;
      }
    }
    .serviceContent {
      h2 {
        font-size: 28px;
        margin-top: 16px;
        color: $tx-color;
      }
      p {
        font-size: $font-size-h5;
        margin-top: 16px;
        color: $tx-color;
      }
    }

    .readMore {
      a {
        margin-top: 44px;
        position: relative;
        font-size: $font-size-h5;

        &::before {
          content: "";
          position: absolute;
          top: 24px;
          left: 0;
          width: 0%;
          height: 1px;
          @extend .transitionAll;
        }
        &:hover {
          &::before {
            width: 100%;
            background-color: $tx-color;
            @extend .transitionAll;
          }
        }
      }
    }

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      background-color: $primary;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
      transform: translateY(-100%);
      transition: all 0.4s ease;
    }
    &:hover {
      &::after {
        transform: translateY(0);
      }
    }
  }
}
