@import "../abstracts/variable";
@import "../abstracts/mixin";
.stepWrap {
  background-color: #f3f3f3;
  margin-top: 80px;
  padding-bottom: 80px;
  .stepItem {
    margin-top: 64px;
    color: $tx-color;
    h5 {
      font-size: $font-size-h5;
      font-weight: 300;
      border-bottom: 1px solid #c5c5c5;
    }
    h1 {
      margin-top: $font-size-h5;
      text-transform: uppercase;
      font-size: $font-size-h3;
    }
    p {
      margin-top: 16px;
      display: inline-block;
    }
  }
}
.getQuoteBtn {
  height: 100%;
  @extend .center;

  .getQuote {
    color: $primary;
    border: 1px solid $primary;
    padding: 16px 30px;
    @extend .transitionAll;

    &:hover {
      background-color: $primary;
      color: #fff;
      @extend .transitionAll;
    }
  }
}
